conda==24.5.0
tensorflow_data_validation==1.15.1
grpcio_status==1.33.2
grpc-google-iam-v1==0.13.1
google_cloud_resource_manager==1.12.3
google_api_core==2.19.1
google_cloud_storage==2.17.0
fastavro==1.9.4
fastparquet==2024.5.0
gcsfs==2024.6.1
google-cloud-bigquery-storage==2.25.0
google-cloud-bigtable==2.24.0
google-cloud-dataproc==5.10.0
google-cloud-datastore==2.19.0
google-cloud-monitoring==2.22.0
google-cloud-pubsub==2.21.5
google-cloud-vision==3.7.2
matplotlib==3.9.1
numba==0.60.0
orc==0.1.0
regex==2024.5.15
scikit-image==0.24.0
seaborn==0.13.2
google-cloud-aiplatform==1.57.0
kfp==2.8.0
sqlalchemy==2.0.31
pandas_gbq==0.23.1
koalas==1.8.2
mleap==0.23.1
pysal==24.1
rtree==1.2.0